extends ../layouts/layout

block sidebar

    include ../includes/sidebar

block navbar

    include ../includes/navbar

block content

    include ../includes/main

block footer

    include ../includes/footer
