//footer
    .footer-content
        .footer-section
            h3 Contact Us
            p Address: 123 Main St, Anytown, USA
            p Phone: (123) 456-7890
            p Email: contact@example.com
        .footer-section
            h3 Quick Links
            ul
                li: a(href="#") Home
                li: a(href="#") About Us
                li: a(href="#") Services
                li: a(href="#") Contact
        .footer-section
            h3 Follow Us
            a(href="#")
                i.bx.bxl-facebook
            a(href="#")
                i.bx.bxl-twitter
            a(href="#")
                i.bx.bxl-instagram
            a(href="#")
                i.bx.bxl-linkedin
        .footer-section
            h3 Newsletter
            form(action="#")
                input(type="email" placeholder="Enter your email")
                button(type="submit") Subscribe
        .footer-section
            p &copy; 2024 Your Company. All rights reserved.
