// Navbar
.content
    nav
        i.bx.bx-menu
        form(action="#")
            .form-input
                input(type="search" placeholder="Search...")
                button.search-btn(type="submit")
                    i.bx.bx-search
        input#theme-toggle(type="checkbox" hidden)
        label(for="theme-toggle" class="theme-toggle")
        a.notif(href="#")
            i.bx.bx-bell
            span.count 12
        a.profile(href="#")
            img(src="/assets/img/dashboard/logo.png")
