extends ../layouts/layout

block sidebar
    include ../includes/sidebar

block navbar
    include ../includes/navbar

block content
    .main-content
        h1 Nuevo Tercero
        form(action="/terceros/new-ter" method="POST")
            .mb-3
                label(for="name") Nombre
                input.form-control(type="text" name="name" required)
            .mb-3
                label(for="displayOrder") Orden de Visualización
                select.form-control(name="displayOrderOption")
                    option(value="Primero") Primero
                    option(value="Último") Último
                    each tercero in terceros
                        option(value=`Después de ${tercero._id}`) Después de #{tercero.name}
            button.btn.btn-primary(type="submit") Crear

block footer
    include ../includes/footer