extends ../layouts/layout

block sidebar
    include ../includes/sidebar

block navbar
    include ../includes/navbar

block content
    .main-content
        h1 Todos los Terceros
        if terceros.length === 0
            p No hay terceros disponibles.
            a.btn.btn-primary(href='/terceros/add') Añadir nuevo tercero
        else
            a.btn.btn-primary(href='/terceros/add') Añadir nuevo tercero
            table
                thead
                    tr
                        th Nombre
                        th Orden de Visualización
                        th Acciones
                tbody
                    each tercero in terceros
                        tr
                            td= tercero.name
                            td= tercero.displayOrder
                            td
                                a(href=`/terceros/edit/${tercero._id}` class="btn btn-primary") Editar
                                form(action=`/terceros/delete/${tercero._id}?_method=DELETE` method="POST" style="display:inline")
                                    button(type="submit" class="btn btn-danger") Eliminar

block footer
    include ../includes/footer