extends ../layouts/layout

block sidebar
    include ../includes/sidebar

block navbar
    include ../includes/navbar

block content
    .main-content
        h1 Nueva Categoría
        form(action='/categorias/new-cat' method='POST')
            .mb-3
                label(for='description') Descripción
                input.form-control(type='text' name='description' required)
            .mb-3
                label(for='displayOrderOption') Orden de Visualización
                select.form-control(name='displayOrderOption' required)
                    option(value='Primero') Primero
                    option(value='Último') Último
                    each categoria in categorias
                        option(value=`Después de ${categoria._id}`) Después de #{categoria.description}
            button.btn.btn-primary(type='submit') Aceptar

block footer
    include ../includes/footer
